<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-pessoa-heading" data-cy="PessoaCreateUpdateHeading">Criar ou editar Pessoa</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_nome">Nome</label>
          <input type="text" class="form-control" name="nome" id="field_nome" data-cy="nome" formControlName="nome" />
          <div *ngIf="editForm.get('nome')!.invalid && (editForm.get('nome')!.dirty || editForm.get('nome')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('nome')?.errors?.required"> O campo é obrigatório. </small>
            <small class="form-text text-danger" *ngIf="editForm.get('nome')?.errors?.minlength">
              Este campo deve ter pelo menos 2 caracteres.
            </small>
            <small class="form-text text-danger" *ngIf="editForm.get('nome')?.errors?.maxlength">
              Este campo não pode ter mais de 20 caracteres.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_cpf">Cpf</label>
          <input type="text" class="form-control" name="cpf" id="field_cpf" data-cy="cpf" formControlName="cpf" />
          <div *ngIf="editForm.get('cpf')!.invalid && (editForm.get('cpf')!.dirty || editForm.get('cpf')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('cpf')?.errors?.required"> O campo é obrigatório. </small>
            <small class="form-text text-danger" *ngIf="editForm.get('cpf')?.errors?.minlength">
              Este campo deve ter pelo menos 11 caracteres.
            </small>
            <small class="form-text text-danger" *ngIf="editForm.get('cpf')?.errors?.maxlength">
              Este campo não pode ter mais de 11 caracteres.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_email">Email</label>
          <input type="text" class="form-control" name="email" id="field_email" data-cy="email" formControlName="email" />
          <div *ngIf="editForm.get('email')!.invalid && (editForm.get('email')!.dirty || editForm.get('email')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('email')?.errors?.required"> O campo é obrigatório. </small>
            <small class="form-text text-danger" *ngIf="editForm.get('email')?.errors?.minlength">
              Este campo deve ter pelo menos 4 caracteres.
            </small>
            <small class="form-text text-danger" *ngIf="editForm.get('email')?.errors?.maxlength">
              Este campo não pode ter mais de 30 caracteres.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_senha">Senha</label>
          <input type="text" class="form-control" name="senha" id="field_senha" data-cy="senha" formControlName="senha" />
          <div *ngIf="editForm.get('senha')!.invalid && (editForm.get('senha')!.dirty || editForm.get('senha')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('senha')?.errors?.required"> O campo é obrigatório. </small>
            <small class="form-text text-danger" *ngIf="editForm.get('senha')?.errors?.minlength">
              Este campo deve ter pelo menos 4 caracteres.
            </small>
            <small class="form-text text-danger" *ngIf="editForm.get('senha')?.errors?.maxlength">
              Este campo não pode ter mais de 50 caracteres.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_dataCadastro">Data Cadastro</label>
          <div class="d-flex">
            <input
              id="field_dataCadastro"
              data-cy="dataCadastro"
              type="datetime-local"
              class="form-control"
              name="dataCadastro"
              formControlName="dataCadastro"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          <div
            *ngIf="editForm.get('dataCadastro')!.invalid && (editForm.get('dataCadastro')!.dirty || editForm.get('dataCadastro')!.touched)"
          >
            <small class="form-text text-danger" *ngIf="editForm.get('dataCadastro')?.errors?.required"> O campo é obrigatório. </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('dataCadastro')?.errors?.datetimelocal">
              Este campo é do tipo data/hora.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_celular">Celular</label>
          <input type="text" class="form-control" name="celular" id="field_celular" data-cy="celular" formControlName="celular" />
          <div *ngIf="editForm.get('celular')!.invalid && (editForm.get('celular')!.dirty || editForm.get('celular')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('celular')?.errors?.required"> O campo é obrigatório. </small>
            <small class="form-text text-danger" *ngIf="editForm.get('celular')?.errors?.minlength">
              Este campo deve ter pelo menos 11 caracteres.
            </small>
            <small class="form-text text-danger" *ngIf="editForm.get('celular')?.errors?.maxlength">
              Este campo não pode ter mais de 11 caracteres.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_tipoPessoa">Tipo Pessoa</label>
          <select class="form-control" name="tipoPessoa" formControlName="tipoPessoa" id="field_tipoPessoa" data-cy="tipoPessoa">
            <option [ngValue]="null"></option>
            <option *ngFor="let tipoPessoa of tipoPessoaValues" [value]="tipoPessoa">{{ tipoPessoa }}</option>
          </select>
          <div *ngIf="editForm.get('tipoPessoa')!.invalid && (editForm.get('tipoPessoa')!.dirty || editForm.get('tipoPessoa')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('tipoPessoa')?.errors?.required"> O campo é obrigatório. </small>
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Salvar</span>
        </button>
      </div>
    </form>
  </div>
</div>
